@import 'animations.css';
@import 'header.css';
@import 'footer.css';
@import 'mobile.css';

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Avenir", sans-serif;
}

a {
    text-decoration: none;
}

html {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 18vw;
    position: relative;
}

@media screen and (max-width: 1450px) {
    .landing-page {
        padding: 5vw 2vw;
    }

    .landing-page_img {
        height: 50vh;
    }
}

.landing-page-content {
    width: 45vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.landing-page-content>p {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: #4B5D68;
    width: 50%;
    margin-top: 5vh;

}

.landing-page-content__title {
    font-weight: 700;
    font-size: 5rem;
    font-weight: 700;
    line-height: 110%;
    color: #212353;
}

.landing-page_img {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    z-index: 1;
}







.landing-page-content_btn {
    border: 0;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    background: #9C69E2;
    border-radius: 50px;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 8vh;
    cursor: pointer;
}

.landing-page-content_btn:hover {
    background: white;
    border: #212353 solid;
    color: black;
    transition: 0.3s;
}

.about {
    margin: 6vh 18vw 10vh 18vw;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    align-self: center;
    display: flex;
    padding: 3vh 4vw;
}

@media screen and (max-width: 1450px) {
    .about {
        margin: 6vh 10vw 10vh 10vw;
    }
}

.about img {
    margin: 3% 3% 2% 1%;

}

.about-article p {
    width: 100%;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 3vh;
}

.about-article h2 {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    color: #212353;
    margin-top: 12vh;

}

.features {
    margin-top: 5vh;
}

.features h2 {
    color: #212353;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
}

.features>p {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
    margin: 5vh auto 0;
}

.features-container {

    padding: 2vw 18vw 2vw 18vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media screen and (max-width: 1450px) {
    .features-container {
        padding: 2vw 6vw 2vw 6vw;
    }
}

.feature {
    width: 50%;
    height: 35vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 15vh;

}

.feature-image {
    width: 40%;
    left: 0;
    top: 45%;
    z-index: 2;
    position: absolute;
}



.feature-text {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 3vw 3vw 6vh 0;

}

.feature-text-f1 {
    background-image: url(/images/feature-1-background.png);
    background-size: cover;

}

.feature-text-f2 {
    background-image: url(/images/feature-2-background.png);
    background-size: cover;

}

.feature-text-f3 {
    background-image: url(/images/feature-3-background.png);
    background-size: cover;

}

.feature-text-f4 {
    background-image: url(/images/feature-4-background.png);
    background-size: cover;

}

.feature-text h3 {
    color: #212353;
    width: 75%;
    font-size: 1.2rem;
    line-height: 130%;
    display: flex;
    align-items: center;
}

.feature-article {
    font-family: 'Avenir';
    line-height: 160%;
    color: #4b5d68;
}

.feature-inner {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.learn-more {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    font-family: 'Avenir';
    font-weight: 900;
    line-height: 160%;
    display: flex;
    letter-spacing: 0.005em;
    color: #212353;
    border: 0;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    background-color: transparent;

}

.learn-more:hover {
    color: white;
}

.learn-more a img {
    margin-left: 20px;
    width: 20px;
    height: 14px;
}

.promotion {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10vh 18vw 4vh 18vw;
    border-top: 2px solid rgba(156, 105, 226, 0.2);
}

.promotion h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.promotion p {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}


.promotion-bts {
    display: flex;
}

.bt-learn-more {
    border: 0;
    background: #F063B8;
    border-radius: 50px;
    color: #FFFFFF;
    text-align: center;
    width: 170px;
    height: 60px;
    margin-right: 2vw;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.bt-learn-more:hover {
    background: white;
    border: #212353 solid;
    color: black;
    transition: 0.3s;
}

.bt-learn-more a {
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
}

.RequestDemoBt {
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 2vh 2vw 2vh 2vw;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.RequestDemoBt:hover {
    border: #212353 solid;
    color: white;
    transition: 0.1s;
}

.RequestDemoBt a {
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;

}

.RequestDemoBt a img {
    margin-left: 20px;
    width: 20px;
    height: 14px;
}

.feature__learn-more {
    border: 0;
    background: transparent;
    padding: 2vh 2vw 2vh 2vw;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.feature__learn-more a:hover {
    color: white;
    transition: 0.1s;
}
.feature__learn-more img:hover {
    position: relative;
    animation: mymove 8s infinite;
}


.feature__learn-more a {
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;

}

.feature__learn-more a img {
    margin-left: 20px;
    width: 20px;
    height: 14px;
}